body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.clock {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.clock-face {
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
}

.hand.hour {
  height: 30%;
}

.hand.minute {
  height: 45%;
}

.hand.second {
  height: 50%;
}
